<%- include("../partials/head", {
  stylePag: "productDetail", title: "Producto"
}) %>

<body>
  <!-- Header - Inicio -->
  <%- include("../partials/header") %>
  <!-- Header - Fin-->
  

  <!--Contenido HTML de Producto - Inicio -->
  <main>
    <section class="main-section">
      <h4 class="titulo-producto-mobile"><%= product.name %></h4>
      <div class="main-top-section">
        <!-- Carrusel -->
        <section id="carrusel">
          <div class="slideshow-container">
            <!-- Imágenes de Carrusel  -->

            <% product.images.forEach(image => { %>
              <div class="mySlides fade"><img src="/images/products/<%= image.name %>"
                style="width:100%">
              </div>
            <% }) %>

            <!-- Botones Carrusel -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
        </section>
        <section class="right-box">
          <div class="product-cost-box">
            <h3 class="titulo-producto-desktop"><%= product.name %></h3>
            <P class="precio">$<%= product.price %></p>
            <p class="cuotas">!Doce cuotas sin interés!</p>
            <div class="color">
              <label class="label-color" for="color">Color: </label>
              <select class="select-color" name="color" id="color">                
                <option value="" disabled selected>En mantenimiento</option>                
              </select>
            </div>
            <p class="cuotas">Stock disponible <i class="fa-solid fa-check"></i></p>
            <i id="truck" class="fa-solid fa-truck"></i>
            <p class="envio">Envio gratis</p>
          </div>
          <button class="comprar">Agregar al carrito</button>
          <div class="product-descr-box">
            <h4 class="subtitle-descripcion">Descripción</h4>
            <p class="texto"><%= product.description %></p>
          </div>
          <% if (locals.user && user.userprofile == "vendedor") { %>           
            <div class="admin-buttons">
              <a href="/admin/editproduct/<%= product.id %>"><button class="edit-button">Editar</button></a>
              <form action="/admin/<%= product.id %>?_method=DELETE" method="POST">            
                <button class="delete-button" type="submit">Eliminar</button>
              </form>            
            </div>
          <% } %>
        </section>
      </div>
      <div class="product-caract-box">
        <h4 class="subtitle-caracteristicas">Características</h4>
        <ul>
          <% product.features.forEach(feature => { %>           
            <li class="caracteristicas"><%= feature.name %></li>          
          <% }) %>
        </ul>
      </div>
    </section>
  </main>
  <!--Contenido HTML del Producto - Fin -->

  <!--Script carrusel -->
  <script src="/js/carrusel_producto.js"></script>

  <!-- Footer - Inicio -->
<%- include("../partials/footer") %>
<!-- Footer - Fin -->