<header class="main-header">
  <div class="encabezado">
    <p>Realizá compras en nuestras tienda online, recibí promociones y novedades <a href="/users/register" style="color:blue;">¡Registrate!</a></p>
  </div>
  <div class="header-top-bar">
    <div class="logo-search-container">
      <div class="logo">
        <a href="/"><img src="/images/Logo_Blanco.png" alt="MiTechStore"></a>
      </div>
      <div class="openBtn">
        <div class="openBtn-ico" id="openBtn">
          <i class="fa-solid fa-bars" style="color: #ff6700;"></i>
        </div>
      </div>
      <nav class="opciones">
        <ul>
          <% if (locals.user) { %>
          <li class="main-header-navbar-element"><a href="/users/userProfile">
              <%= user.dataValues.first_name %> <i class="fa-solid fa-user"></i>
            </a></li>
          <li class="main-header-navbar-element"><a href="/users/logout">Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
          <% }else {%>
          <li class="main-header-navbar-element"><a href="/users/login">Ingresar <i class="fa-solid fa-user"></i></a></li>
          <% } %>
          <li class="main-header-navbar-element"><a href="/product/cart">Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
          <% if (locals.user && user.dataValues.userprofile_id !=1 ) { %>
          <li class="main-header-navbar-element"><a href="/admin/createproduct">Crear producto <i class="fa-solid fa-square-plus"></i></a></li>
          <% } %>
          <li class="main-header-navbar-element"><a href="http://localhost:5173">Dashboard <i class="fa-solid fa-chart-simple" style="color: #ffffff;"></i></a></li>
        </ul>
      </nav>
    </div>
    <div class="search-bar">
      <form action="/product/search" class="form-search-bar" method="get">
        <input type="text" placeholder="¿Que producto buscas?" value="<%= locals.words && words ? words : null %>" name="words">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div class="ad-text">
      <p>Realizá compras en nuestras tienda online, recibí promociones y novedades ¡Registrate!</p>
    </div>
    <nav class="categorias-navbar">
      <ul>
        <a href="/product/list">
          <li class="categoria">Todos los productos
          </li>
        </a>
        <% headerCategories.forEach(category=> { %>
        <a href="/product/list?category=<%= category.id %>">
          <li class="categoria">
            <%= category.name %>
          </li>
        </a>
        <% }) %>
      </ul>
    </nav>
  </div>
</header>

<div class="menu-mobile hidden" id="menu-mobile">
  <div class="closeBtn" id="closeBtn">
    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
  </div>
  <ul>
    <li><a href="/">Inicio <i class="fa-solid fa-house" style="color: #ffffff;"></i></a></li>
    <% if (locals.user) { %>
    <li class="main-header-navbar-element"><a href="/users/userProfile">
        <%= user.dataValues.first_name %> <i class="fa-solid fa-user"></i>
      </a></li>
    <li class="main-header-navbar-element"><a href="/users/logout">Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
    <% }else {%>
    <li class="main-header-navbar-element"><a href="/users/login">Ingresar</a> / <a href="/users/register">Registrarse</a> <i class="fa-solid fa-user"></i></li>
    <% } %>
    <li class="main-header-navbar-element"><a href="/product/cart">Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
    <% if (locals.user && user.dataValues.userprofile_id !=1 ) { %>
    <li class="main-header-navbar-element"><a href="/admin/createproduct">Crear producto <i class="fa-solid fa-square-plus"></i></a></li>
    <% } %>
    <li><a href="http://localhost:5173">Dashboard <i class="fa-solid fa-chart-simple" style="color: #ffffff;"></i></a></li>
    <a href="/product/list">
      <li class="categoria">Todos los productos
      </li>
    </a>
    <% headerCategories.forEach(category=> { %>
    <a href="/product/list?category=<%= category.id %>">
      <li class="categoria">
        <%= category.name %>
      </li>
    </a>
    <% }) %>    
  </ul>
  </nav>
</div>