<%- include("../partials/head", {
    stylePag: "createProduct", title: "Crear producto"
  }) %>
  
<body>

    <!-- Header - Inicio -->
  <%- include("../partials/header") %>
  <!-- Header - Fin-->

  <main>
   <h3 class="titulo">Crear un nuevo producto</h3>
   <form action="/admin" method="POST" enctype="multipart/form-data">
      <label class="label" for="name">Nombre del producto</label>
      <input class="input" name="name" type="text" id="name">      
      <div class="descripcion">
         <label for="description" class="label">Descripcion</label>
         <textarea name="description" id="description" rows="4"></textarea>
      </div>
      <label class="label" for="">Imágenes del producto</label>
      <input type="file" multiple name="images" accept=".jpg,.png,.jpeg" id="images">     
      <div class="propiedades">
         <div class="precio">
            <label class="label" for="price">Precio:</label>
            <input id="price" name="price" class="input" type="text" placeholder="">
         </div>
         <div class="precio">
            <label class="label" for="discount">Descuento:</label>
            <input id="discount" name="discount" class="input" type="text" placeholder="">
         </div>
         <div class="categorias">
            <label class="label" for="category">Categoría: </label>
            <select id="category" name="category">
               <option value="" disabled selected>Elige</option>
               <% categories.forEach(category => { %>         
                  <option value="<%= category.id %>"><%= category.name %></option>
               <% }) %>               
            </select>
         </div>
         <div class="categorias">
            <label class="label" for="highlight">Destacar producto:</label>
            <select id="highlight" name="highlight">
               <option value="" disabled selected>Elige</option>
               <option value="true">Si</option>
               <option value="false">No</option>
            </select>
         </div>
      </div>
      <label class="label" for="">Colores</label>
      <div class="colores" id="colors">   
         <% colors.forEach(color => { %>      
            <div>
               <input id="<%= color.name %>" type="checkbox" name="colors" value="<%= color.id %>" class="checkbox-color">
               <label for="<%= color.name %>"><%= color.name %></label>
            </div>
         <% }) %>               
      </div>
      <label class="label" for="">Caracteristicas</label>
      <div class="especificaciones">
      <div class="especificacion">
         <label for="model">Modelo:</label>
         <input id="model" name="model" class="input" type="text" placeholder="">
      </div>
      <div class="especificacion">
         <label for="year">Año de fabricación:</label>
         <input id="year" name="year" class="input" type="text" placeholder="">
      </div>
      <div class="especificacion">
         <label for="size">Tamaño:</label>
         <input id="size" name="size" class="input" type="text" placeholder="">
      </div>
      <div class="especificacion">
         <label for="weight">Peso:</label>
         <input id="weight" class="input" name="weight" type="text" placeholder="">
      </div>
      <div class="descripcion">
         <label class="label" for="features">Otras caracteristicas</label>
         <textarea rows="4" id="features" name="features" placeholder="separa las caracteristicas con / Ej: 4 cámaras/500mAh de bateria/Carga rápida"></textarea>
      </div>
      <div class="buttons">
         <button class="delete-button" type="reset">Borrar</button>
         <a href="/"><button class="create-button" type="submit">Crear producto</button></a> <br>
      </div>
   </form>
 </main>
   <script src="/js/productValidations.js"></script>
    <!-- Footer - Inicio -->
<%- include("../partials/footer") %>
<!-- Footer - Fin -