<%- include("../partials/head", {
    stylePag: "createProduct", title: "Crear producto"
  }) %>
  
<body>

    <!-- Header - Inicio -->
  <%- include("../partials/header") %>
  <!-- Header - Fin-->

  <main>
   <h3 class="titulo">Crear un nuevo producto</h3>
   <form action="/admin" method="POST" enctype="multipart/form-data">
      <label class="label" for="name">Nombre del producto</label>
      <input class="input" name="name" type="text">      
      <div class="descripcion">
         <label for="description" class="label">Descripcion</label>
         <textarea name="description" id="" rows="4"></textarea>
      </div>
      <label class="label" for="">Imágenes del producto</label>
      <input type="file" multiple name="images" accept=".jpg,.png,.jpeg">     
      <div class="propiedades">
         <div class="precio">
            <label class="label" for="precio">Precio:</label>
            <input id="precio" name="price" class="input" type="number" placeholder="">
         </div>
         <div class="precio">
            <label class="label" for="discount">Descuento:</label>
            <input id="precio" name="discount" class="input" type="number" placeholder="">
         </div>
         <div class="categorias">
            <label class="label" for="">Categoría: </label>
            <select id="categorias" name="category">
               <option value="" disabled selected>Elige</option>
               <% categories.forEach(category => { %>         
                  <option value="<%= category.id %>"><%= category.name %></option>
               <% }) %>               
            </select>
         </div>
         <div class="categorias">
            <label class="label" for="">Destacar producto:</label>
            <select id="categorias" name="highlight">
               <option value="" disabled selected>Elige</option>
               <option value="true">Si</option>
               <option value="false">No</option>
            </select>
         </div>
      </div>
      <label class="label" for="">Colores</label>
      <div class="colores">   
         <% colors.forEach(color => { %>      
            <div>
               <input id="<%= color.name %>" type="checkbox" name="colors" value="<%= color.id %>">
               <label for="<%= color.name %>"><%= color.name %></label>
            </div>
         <% }) %>               
      </div>
      <label class="label" for="">Caracteristicas</label>
      <div class="especificaciones">
      <div class="especificacion">
         <label for="modelo">Modelo:</label>
         <input id="modelo" name="model" class="input" type="text" placeholder="">
      </div>
      <div class="especificacion">
         <label for="fabricacion">Año de fabricación:</label>
         <input id="fabricacion" name="year" class="input" type="number" placeholder="">
      </div>
      <div class="especificacion">
         <label for="tamaño">Tamaño:</label>
         <input id="tamaño" name="size" class="input" type="text" placeholder="">
      </div>
      <div class="especificacion">
         <label for="peso">Peso:</label>
         <input id="peso" class="input" name="weight" type="text" placeholder="">
      </div>
      <div class="descripcion">
         <label class="label" for="">Otras caracteristicas</label>
         <textarea rows="4" name="features" placeholder="separa las caracteristicas con / Ej: 4 cámaras/500mAh de bateria/Carga rápida"></textarea>
      </div>
      <div class="buttons">
         <button class="delete-button" type="reset">Borrar</button>
         <a href="/"><button class="create-button" type="submit">Crear producto</button></a> <br>
      </div>
   </form>
 </main>
   
    <!-- Footer - Inicio -->
<%- include("../partials/footer") %>
<!-- Footer - Fin -