<%- include("../partials/head", {
    stylePag: "createProduct", title: "Editar un producto"
  }) %>

<body>

  <!-- Header - Inicio -->
  <%- include("../partials/header") %>
  <!-- Header - Fin-->

  <main>
    <h3 class="titulo">Editar producto</h3>
    <form class="create-product-form" action="/admin/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="nombre-producto">
        <label class="label" for="name">Nombre del producto</label>
        <input id="name" class="input <%= locals.errors && errors.name ? 'is-invalid' :null  %>" name="name" type="text" value="<%= locals.oldData && oldData.name ? oldData.name : product.name %>"> 
        <% if (locals.errors && errors.name) { %>
          <p class = "error"> <%= errors.name.msg %> </p>
        <% } %>         
      </div>
       <div class="descripcion">
          <label for="description" class="label">Descripcion</label>
          <textarea name="description" class="<%= locals.errors && errors.description ? 'is-invalid' :null  %>" id="description" rows="4"><%= locals.oldData && oldData.description ? oldData.description : product.description %></textarea>
          <% if (locals.errors && errors.description) { %>
            <p class = "error"> <%= errors.description.msg %> </p>
          <% } %>    
       </div>
       <label class="label" for="">Imágenes del producto</label>
       <input type="file" multiple name="images" accept=".jpg,.png,.jpeg" id="images">     
       <% if (locals.errors && errors.images) { %>
         <p class = "error"> <%= errors.images.msg %> </p>
       <% } %>    
       <div class="propiedades">
          <div class="precio">
             <label class="label" for="precio">Precio:</label>
             <input id="price" name="price" class="input <%= locals.errors && errors.price ? 'is-invalid' :null  %>" type="number" value="<%= locals.oldData && oldData.price ? oldData.price : product.price %>">
             <% if (locals.errors && errors.price) { %>
               <p class = "error"> <%= errors.price.msg %> </p>
             <% } %>    
          </div>
          <div class="precio">
             <label class="label" for="discount">Descuento:</label>
             <input id="discount" name="discount" class="input <%= locals.errors && errors.discount ? 'is-invalid' :null  %>" type="number" value="<%= locals.oldData && oldData.discount ? oldData.discount : product.discount %>">
             <% if (locals.errors && errors.discount) { %>
               <p class = "error"> <%= errors.discount.msg %> </p>
             <% } %>    
          </div>
          <div class="categorias">
             <label class="label" for="">Categoría: </label>
             <select id="category" name="category" class="<%= locals.errors && errors.category ? 'is-invalid' :null  %>">
                <option value="" disabled>Elige</option>
                  <% categories.forEach(category => { %>
                     <option value="<%= category.id %>" <%= locals.oldData && oldData.category && oldData.category == category.id ? "selected" : product.category.id == category.id ? "selected" : null %>><%= category.name %></option>
                  <% }) %>                
             </select>
             <% if (locals.errors && errors.category) { %>
               <p class = "error"> <%= errors.category.msg %> </p>
             <% } %>    
          </div>
          <div class="categorias">
             <label class="label" for="">Destacar producto:</label>
             <select id="highlight" name="highlight" class="<%= locals.errors && errors.highlight ? 'is-invalid' :null  %>">
                <option value="" disabled>Elige</option>
                <option value="true" <%= locals.oldData && oldData.highlight && oldData.highlight == "true" ? "selected" : product.highlight  ? "selected" : "" %>>Si</option>
                <option value="false" <%= locals.oldData && oldData.highlight && oldData.highlight == "false" ? "selected" : product.highlight ? null : "selected" %>>No</option>
             </select>
             <% if (locals.errors && errors.highlight) { %>
               <p class = "error"> <%= errors.highlight.msg %> </p>
             <% } %>    
          </div>
       </div>
       <label class="label" for="">Colores</label>
       <div class="colores" id="colors">
         <% colors.forEach(color => { %>
            <div>
               <input class="checkbox-color" id="<%= color.name %>" type="checkbox" name="colors[]" value="<%= color.id %>" <%= locals.oldData && oldData.colors && oldData.colors.includes(color.id.toString()) ? "checked" : locals.oldData == undefined && product.colors.some(productColor => productColor.id == color.id) ? "checked" : null %>>
               <label for="<%= color.name %>"><%= color.name %></label>
            </div>
         <% }) %>
      </div>
      <% if (locals.errors && errors.colors) { %>
         <p class = "error"> <%= errors.colors.msg %> </p>
       <% } %>    
       <label class="label" for="">Caracteristicas</label>
       <div class="especificaciones">
       <div class="especificacion">
          <label for="modelo">Modelo:</label>
          <input id="model" name="model" class="input <%= locals.errors && errors.model ? 'is-invalid' :null  %>" type="text" value="<%= locals.oldData && oldData.model ? oldData.model : product.model %>">
          <% if (locals.errors && errors.model) { %>
            <p class = "error"> <%= errors.model.msg %> </p>
          <% } %>    
       </div>
       <div class="especificacion">
          <label for="fabricacion">Año de fabricación:</label>
          <input id="year" name="year" class="input <%= locals.errors && errors.year ? 'is-invalid' :null  %>" type="number" value="<%= locals.oldData && oldData.year ? oldData.year : product.year %>">
          <% if (locals.errors && errors.year) { %>
            <p class = "error"> <%= errors.year.msg %> </p>
          <% } %>    
       </div>
       <div class="especificacion">
          <label for="tamaño">Tamaño:</label>
          <input id="size" name="size" class="input <%= locals.errors && errors.size ? 'is-invalid' :null  %>" type="text" value="<%= locals.oldData && oldData.size ? oldData.size : product.size %>">
          <% if (locals.errors && errors.size) { %>
            <p class = "error"> <%= errors.size.msg %> </p>
          <% } %>    
       </div>
       <div class="especificacion">
          <label for="peso">Peso:</label>
          <input id="weight" class="input <%= locals.errors && errors.weight ? 'is-invalid' :null  %>" name="weight" type="text" value="<%= locals.oldData && oldData.weight ? oldData.weight : product.weight %>">
          <% if (locals.errors && errors.weight) { %>
            <p class = "error"> <%= errors.weight.msg %> </p>
          <% } %>    
       </div>
       <div class="descripcion">
          <label class="label" for="">Otras caracteristicas</label>
          <textarea rows="4" id="features" name="features" class="<%= locals.errors && errors.features ? 'is-invalid' :null  %>" placeholder="separa las caracteristicas con / Ej: 4 cámaras/500mAh de bateria/Carga rápida"><%= locals.oldData && oldData.features ? oldData.features : product.features.map(feature => feature.name).join("/") %></textarea>
          <% if (locals.errors && errors.features) { %>
            <p class = "error"> <%= errors.features.msg %> </p>
          <% } %>    
       </div>
       <div class="buttons">
          <button class="delete-button" type="reset">Borrar</button>
          <button class="create-button" type="submit">Editar producto</button> <br>
        </div>
    </form>
  </main>
  <script src="/js/productValidations.js"></script>
  <!-- Footer - Inicio -->
  <%- include("../partials/footer") %>
  <!-- Footer - Fin -