<%- include("../partials/head", { stylePag: "register" , title: "Editar Usuario" }) %>


  <body>
    <!-- Header - Inicio -->
    <%- include("../partials/header") %>
      <!-- Header - Fin-->

      <!--Contenido HTML de Registro - Inicio -->
      <main>
        <h3>Editar información de usuario</h3>
        <form class="formulario-registro" action="/editUser/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <input class="input" type="text" placeholder="Nombre" name="nombre" value="<%= user.first_name %>" required>
          <input class="input" type="text" placeholder="Apellido" name="apellido" value="<%= user.last_name %>" required>
          <input class="input" type="email" placeholder="Correo electrónico" name="email" value="<%= user.email %>" required>
          <input class="input" type="email" placeholder="Confirmar correo electrónico" name="confirmarEmail" value="<%= user.email %>"required>
          <input class="input" type="password" placeholder="Contraseña" name="contraseña" required>
          <input class="input" type="password" placeholder="Confirmar contraseña" name="confirmarContraseña" required>
          <input class="input" type="number" placeholder="Número de teléfono" name="telefono" value="<%= user.phone %>" required>
          <br>

          <div class="perfil-label">
            <label>Seleccione una imagen de perfil</label>
          </div>
          <div class="avatar">
            <input type="file" name="avatar" accept=".jpg,.png,.jpeg">
          </div>

          <div class="perfil-label">
            <label>Perfil del usuario</label>
          </div>
          <div class="perfil">
            <div>
              <input id="comprador" type="radio" name="perfil-usuario" value="Comprador" <%= user.userprofile == "Comprador" ? 'checked' : null %>>
              <label for="comprador">Comprador</label>
            </div>
            <div>
              <input id="vendedor" type="radio" name="perfil-usuario" value="Vendedor" <%= user.userprofile == "Vendedor" ? 'checked' : null %>>
              <label for="vendedor">Vendedor</label>
            </div>

          </div>
          <div class="pais">
            <label for="paises">Seleccione su pais </label>
            <select id="paises" name="pais">
              <option value="arg" <%= user.country == "arg" ? "selected" : null %>>Argentina</option>
              <option value="bol" <%= user.country == "bol" ? "selected" : null %>>Bolivia</option>
              <option value="bra" <%= user.country == "bra" ? "selected" : null %>>Brasil</option>
              <option value="chi" <%= user.country == "chi" ? "selected" : null %>>Chile</option>
              <option value="col" <%= user.country == "col" ? "selected" : null %>>Colombia</option>
              <option value="ecu" <%= user.country == "ecu" ? "selected" : null %>>Ecuador</option>
              <option value="par" <%= user.country == "par" ? "selected" : null %>>Paraguay</option>
              <option value="per" <%= user.country == "per" ? "selected" : null %>>Perú</option>
              <option value="uru" <%= user.country == "uru" ? "selected" : null %>>Uruguay</option>
              <option value="ven" <%= user.country == "ven" ? "selected" : null %>>Venezuela</option>
            </select>
          </div>
          <input class="input" type="text" placeholder="Provincia / Región" name="provincia" value="<%= user.region %>" required>
          <input class="input" type="text" placeholder="Ciudad" name="ciudad" value="<%= user.city %>" required>
          <input class="input" type="text" placeholder="Código postal" name="codigoPostal" value="<%= user.zip %>" required>
          <input class="input" type="text" placeholder="Dirección" name="direccion" value="<%= user.address %>" required>
          <div id="create-account-button">
            <button class="reset" type="reset">Borrar</button>
            <button type="submit">Crear</button>
          </div>
        </form>
        <div class="link-inicio-sesion">
          <a href="/user/login">¿Ya tienes una cuenta? Inicia sesión aquí</a>
        </div>
      </main>
      <!--Contenido HTML del Registro - Fin -->

      <!-- Footer - Inicio -->
      <%- include("../partials/footer") %>
        <!-- Footer - Fin -->