<%- include("../partials/head", {
    stylePag: "index", title: "Home"
}) %>

<body>
    <!-- Header - Inicio -->
    <%- include("../partials/header") %>
    <!-- Header - Fin-->

    <!--Contenido HTML del Home - Inicio -->
    <main>
        <!-- Carrusel - Inicio -->
        <section id="carrusel">
            <div class="slideshow-container">
                <!-- Imágenes de Carrusel  -->
                <div class="mySlides fade"><img src="/images/home/banner_home_1.jpg" style="width:100%">
                </div>
                <div class="mySlides fade"><img src="/images/home/banner_home_2.jpg" style="width:100%">
                </div>
                <div class="mySlides fade"><img src="/images/home/banner_home_3.jpg" style="width:100%">
                </div>
                <div class="mySlides fade"><img src="/images/home/banner_home_4.jpg" style="width:100%">
                </div>
                <div class="mySlides fade"><img src="/images/home/banner_home_5.jpg" style="width:100%">
                </div>

                <!-- Botones Carrusel -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </section>
        <!-- Carrusel - Fin -->
        <!-- Productos Home -->
        <section class="productos_home">
            <!-- Seccion Destacados -->
            <section class="secciones">
                <h2>Productos destacados</h2>
                <div class="fila_productos" id="fila1">
                    <% highlightedProducts.forEach(product => { %>
                        <div class="producto">
                            <a class="enlace_producto" href="/product/detail/<%= product.id %>">
                                <div class="imagen_producto">
                                    <img src="/images/products/<%= product.images[0] %>" alt="<%= product.name %>">
                                </div>
                                <div class="titulo_producto">
                                    <h4><%= product.name %></h4>
                                </div>                                
                                <div class="precio_descuento">
                                    <div class="precio_producto"><span>$<%= product.price %></span></div>
                                    <% if (product.discount > 0) { %>
                                        <div class="descuento_producto"><span><%= product.discount %>% OFF</span></div>
                                    <% } %>
                                </div>
                            </a>
                        </div>
                    <% }) %>                                    
                </div>
            </section>

            <!-- Seccion En Descuento -->
            <section class="secciones">
                <h2>Productos en oferta</h2>
                <div class="fila_productos" id="fila1">
                    <% onSale.forEach(product => { %>
                        <div class="producto">
                            <a class="enlace_producto" href="/product/detail/<%= product.id %>">
                                <div class="imagen_producto">
                                    <img src="/images/products/<%= product.images[0] %>" alt="Smart Band 7 Pro">
                                </div>
                                <div class="titulo_producto">
                                    <h4><%= product.name %></h4>
                                </div>
                                <div class="descripcion_producto">
                                    <p><%= product.Description %></p>
                                </div>
                                <div class="precio_descuento">
                                    <div class="precio_producto"><span>$<%= product.price %></span></div>
                                    <div class="descuento_producto"><span><%= product.discount %>% OFF</span></div>
                                </div>
                            </a>
                        </div>
                    <% }) %>                                        
                </div>
            </section>
        </section>
    </main>
    <!--Contenido HTML del Home - Fin -->

    <!-- Script para carrusel de banner -->
    <script src="/js/carrusel_home.js"></script>

    <!-- Footer - Inicio -->
    <%- include("../partials/footer") %>
    <!-- Footer - Fin -->

 