<%- include("../partials/head", { stylePag: "login" , title: "Login - Mi Tech Store" }) %>

  <body>
    <!-- Header - Inicio -->
    <%- include("../partials/header") %>
      <!-- Header - Fin-->

      <main>

        <div class="contenedorh3">

          <h3>Iniciar sesión</h3>

        </div>

        <form class="form" action="/users/processLogin" method="POST">

          <input class="input <%= locals.errors && errors.email ? 'is-invalid' : null %>"
          type="email" placeholder="Correo electrónico" name="email" value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
          <% if (locals.errors && errors.email) { %>
            <p class = "error"> <%= errors.email.msg %> </p>
          <% } %>
          <p class="error" id="error-email"></p>
          <input class="input <%= locals.errors && errors.password ? 'is-invalid' : null %>"
          type="password" placeholder="Contraseña" name="password">
          <% if (locals.errors && errors.password) { %>
            <p class = "error"> <%= errors.password.msg %> </p>
          <% } %>
          <p class="error" id="error-password"></p>
          <div class="contenedorOlvidaste">

            <a href="">¿Olvidaste tu contraseña? Haz click aquí</a>

          </div>

          <div class="contenedor-checkbox">
            <input id="recordarme" type="checkbox" class="checkbox" name="remember"> 
            <label for="recordarme">Recordarme</label>
          </div>

          <div class="contenedorButton">
            <button type="submit">Iniciar sesión</button>
          </div>

        </form>

        <div class="contenedorNoTienes">

          <a href="/users/register">¿No tienes una cuenta? Crea una aquí</a>

        </div>
      </main>

      <script src="/js/userLoginValidations.js"></script>

      <!-- Footer - Inicio -->
      <%- include("../partials/footer") %>
        <!-- Footer - Fin -->