<%- include("../partials/head", { stylePag: "register" , title: "Registro" }) %>


  <body>
    <!-- Header - Inicio -->
    <%- include("../partials/header") %>
      <!-- Header - Fin-->

      <!--Contenido HTML de Registro - Inicio -->
      <main>
        <h3>Crear cuenta</h3>
        <form class="formulario-registro" action="/users/" method="POST" enctype="multipart/form-data">
          <input class="input <%= locals.errors && errors.first_name ? 'is-invalid' : null %>" 
          type="text" placeholder="Nombre" name="first_name" value="<%= locals.oldData && oldData.first_name ? oldData.first_name : null %>">
          <% if (locals.errors && errors.first_name) { %>
            <p class = "error"> <%= errors.first_name.msg %> </p>
          <% } %>
          <input class="input <%= locals.errors && errors.last_name ? 'is-invalid' : null %>" 
          type="text" placeholder="Apellido" name="last_name" value="<%= locals.oldData && oldData.last_name ? oldData.last_name : null %>">
          <% if (locals.errors && errors.last_name) { %>
            <p class = "error"> <%= errors.last_name.msg %> </p>
          <% } %>
          <input class="input <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
          type="email" placeholder="Correo electrónico" name="email" value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
          <% if (locals.errors && errors.email) { %>
            <p class = "error"> <%= errors.email.msg %> </p>
          <% } %>        
          <input class="input <%= locals.errors && errors.password ? 'is-invalid' : null %>" 
          type="password" placeholder="Contraseña" name="password">
          <% if (locals.errors && errors.password) { %>
            <p class = "error"> <%= errors.password.msg %> </p>
          <% } %>         
          <input class="input <%= locals.errors && errors.phone ? 'is-invalid' : null %>" 
          type="number" placeholder="Número de teléfono" name="phone" value="<%= locals.oldData && oldData.phone ? oldData.phone : null %>">
          <% if (locals.errors && errors.phone) { %>
            <p class = "error"> <%= errors.phone.msg %> </p>
          <% } %>
          <br>

          <div class="perfil-label">
            <label>Seleccione una imagen de perfil</label>
          </div>
          <div class="avatar">
            <input type="file" name="avatar">
          </div>
          <% if (locals.errors && errors.avatar) { %>
            <p class = "error"> <%= errors.avatar.msg %> </p>
          <% } %>

          <div class="perfil-label">
            <label>Perfil del usuario</label>
          </div>
          <div class="perfil">
            <div>
              <input id="comprador" type="radio" name="userprofile" value="1" <%= locals.oldData && oldData.userprofile && oldData.userprofile == "comprador" ? "checked" : null%>>
              <label for="comprador">Comprador</label>
            </div>
            <div>
              <input id="vendedor" type="radio" name="userprofile" value="2" <%= locals.oldData && oldData.userprofile && oldData.userprofile == "vendedor" ? "checked" : null%>>
              <label for="vendedor">Vendedor</label>
            </div>
          </div>
          <% if (locals.errors && errors.userprofile) { %>
            <p class = "error"> <%= errors.userprofile.msg %> </p>
          <% } %>
          <div class="pais">
            <label for="paises">Seleccione su pais </label>
            <select class="<%= locals.errors && errors.country ? "paises" : null %>" id="paises" name="country">
              <option value="" <%= locals.oldData && oldData.country ? null : "selected" %> disabled></option>
              <option value="1" <%= locals.oldData && oldData.country && oldData.country == "arg" ? "selected" : null %> >Argentina</option>
              <option value="2" <%= locals.oldData && oldData.country && oldData.country == "bol" ? "selected" : null %>>Bolivia</option>
              <option value="3" <%= locals.oldData && oldData.country && oldData.country == "bra" ? "selected" : null %>>Brasil</option>
              <option value="4" <%= locals.oldData && oldData.country && oldData.country == "chi" ? "selected" : null %>>Chile</option>
              <option value="5" <%= locals.oldData && oldData.country && oldData.country == "col" ? "selected" : null %>>Colombia</option>
              <option value="6" <%= locals.oldData && oldData.country && oldData.country == "ecu" ? "selected" : null %>>Ecuador</option>
              <option value="7" <%= locals.oldData && oldData.country && oldData.country == "par" ? "selected" : null %>>Paraguay</option>
              <option value="8" <%= locals.oldData && oldData.country && oldData.country == "per" ? "selected" : null %>>Perú</option>
              <option value="9" <%= locals.oldData && oldData.country && oldData.country == "uru" ? "selected" : null %>>Uruguay</option>
              <option value="10" <%= locals.oldData && oldData.country && oldData.country == "ven" ? "selected" : null %>>Venezuela</option>
            </select>
          </div>
          <% if (locals.errors && errors.country) { %>
            <p class = "error"> <%= errors.country.msg %> </p>
          <% } %>
          <input class="input <%= locals.errors && errors.region ? 'is-invalid' : null %>" 
          type="text" placeholder="Provincia / Región" name="region" value="<%= locals.oldData && oldData.region ? oldData.region : null %>">
          <% if (locals.errors && errors.region) { %>
            <p class = "error"> <%= errors.region.msg %> </p>
          <% } %>
          <input class="input <%= locals.errors && errors.city ? 'is-invalid' : null %>" 
          type="text" placeholder="Ciudad" name="city" value="<%= locals.oldData && oldData.city ? oldData.city : null %>">
          <% if (locals.errors && errors.city) { %>
            <p class = "error"> <%= errors.city.msg %> </p>
          <% } %>
          <input class="input <%= locals.errors && errors.zip ? 'is-invalid' : null %>" 
          type="number" placeholder="Código postal" name="zip" value="<%= locals.oldData && oldData.zip ? oldData.zip : null %>">
          <% if (locals.errors && errors.zip) { %>
            <p class = "error"> <%= errors.zip.msg %> </p>
          <% } %>
          <input class="input <%= locals.errors && errors.address ? 'is-invalid' : null %>" 
          type="text" placeholder="Dirección" name="address" value="<%= locals.oldData && oldData.address ? oldData.address : null %>">
          <% if (locals.errors && errors.address) { %>
            <p class = "error"> <%= errors.address.msg %> </p>
          <% } %>
          <div id="create-account-button">
            <button class="reset" type="reset">Borrar</button>
            <button type="submit">Crear</button>
          </div>
        </form>
        <div class="link-inicio-sesion">
          <a href="/user/login">¿Ya tienes una cuenta? Inicia sesión aquí</a>
        </div>
      </main>
      <!--Contenido HTML del Registro - Fin -->

      <!-- Footer - Inicio -->
      <%- include("../partials/footer") %>
        <!-- Footer - Fin -->