<%- include("../partials/head", { stylePag: "userProfile" , title: "Perfil del usuario" }) %>

    <body>
        <%- include("../partials/header") %>
        <main>
            <div class="profile-container">
                <div class="user-container">
                   <div>
                        <img class="profile-picture" src="/images/avatars/defaultUser.jpg" alt="Foto de perfil de Jhon Doe">
                        <p class="user-name"><%= user.first_name + " " + user.last_name %></p>
                        <p class="work-text"><%= user.userprofile %></p>
                        <p class="address-text"><%= user.city %></p>
                        <div class="user-option">
                            <a href="/users/edit">
                            <button class="btn-update"> Editar</button>
                            </a>
                            <form action="/users/destroy?_method=DELETE" method="POST">
                                <button type="submit">Eliminar usuario</button>
                              </form>
                        </div>
                   </div>
                </div>
                <div class="data-container">
                    <div style="width: 100%;">
                        <div class="data-user-info">
                            <span class="data-user-info-label">Nombre Completo:</span>
                            <p><%= user.first_name + " " + user.last_name %> </p> 
                        </div>
                        <div class="data-user-info">
                            <span class="data-user-info-label">Correo Electronico:</span>
                            <p><%= user.email %></p>
                        </div>
                        <div class="data-user-info">
                            <span class="data-user-info-label">Celular:</span>
                            <p><%= user.phone %></p>
                        </div>
                        <div class="data-user-info">
                            <span class="data-user-info-label">Dirección y residencia:</span>
                            <p><%=user.country + " " + user.region + " " + user.city + " " + user.zip + " " + user.address %></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

<!-- Footer - Inicio -->
<%- include("../partials/footer") %>
<!-- Footer - Fin -->